/* * Disposition of my container and my windows for my fight div */
.containerValue{
    position: fixed;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 4%;
        width: 39rem;
        height: 30rem;
        z-index: 9999;
        background-color: rgb(0, 0, 0);
        overflow: auto;
        border-radius: 2%;
}
/* *Position of my button */
.CloseButton {
    position: absolute;
    top: 0;
    right: 0;
}

