.help{
    
    z-index: 9999;
    background-color: red;
}
 /* display: none;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 9999;
 background-color: red;
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px; */