#shop{
    border: 0;
        margin: 5px;
        
        position: absolute;
        bottom: 0%;
        text-align: center;
        color: #ffffff;
      
}
#ShopByElement{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-top:25%;  
}